<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Profile Cards</title>
</head>
<body style="font-family: Arial, sans-serif; background: #f7f7f7; margin: 0;">

    <div style="display: flex; justify-content: center; align-items: center; height: 100vh; gap: 30px;">

        
        <div style="background: white; width: 220px; padding: 20px; border-radius: 12px;
                    box-shadow: 0 4px 12px rgba(0,0,0,0.1); text-align: center;">
            
            <div style="width: 70px; height: 70px; background: #007bff; color: white; border-radius: 50%;
                        display: flex; justify-content: center; align-items: center; font-size: 20px;
                        font-weight: bold; margin: 0 auto 15px auto;">UG</div>

            <div style="font-weight: bold; font-size: 18px;">UTKARSH GUPTA</div>

            <p style="font-size: 14px; color: #444; line-height: 1.4;">
                B.Tech - DS<br>
                Roll No: 2025B15410180 <br>
                1st Year
            </p>
        </div>

        <body style="font-family: Arial, sans-serif; background: #f7f7f7; margin: 0;">

    <div style="display: flex; justify-content: center; align-items: center; height: 100vh; gap: 30px;">

        
        <div style="background: white; width: 220px; padding: 20px; border-radius: 12px;
                    box-shadow: 0 4px 12px rgba(0,0,0,0.1); text-align: center;">
            
            <div style="width: 70px; height: 70px; background: #007bff; color: white; border-radius: 50%;
                        display: flex; justify-content: center; align-items: center; font-size: 20px;
                        font-weight: bold; margin: 0 auto 15px auto;">SS</div>

            <div style="font-weight: bold; font-size: 18px;">SHREYANSH SHUKLA</div>

            <p style="font-size: 14px; color: #444; line-height: 1.4;">
                B.Tech - DS <br>
                Roll No: 2025B15410191 <br>
                1st Year
            </p>
        </div>

        <body style="font-family: Arial, sans-serif; background: #f7f7f7; margin: 0;">

    <div style="display: flex; justify-content: center; align-items: center; height: 100vh; gap: 30px;">

        
        <div style="background: white; width: 220px; padding: 20px; border-radius: 12px;
                    box-shadow: 0 4px 12px rgba(0,0,0,0.1); text-align: center;">
            
            <div style="width: 70px; height: 70px; background: #007bff; color: white; border-radius: 50%;
                        display: flex; justify-content: center; align-items: center; font-size: 20px;
                        font-weight: bold; margin: 0 auto 15px auto;">RS</div>

            <div style="font-weight: bold; font-size: 18px;">ROHIT SINGH</div>

            <p style="font-size: 14px; color: #444; line-height: 1.4;">
                B.Tech - DS <br>
                Roll No: 2025B15410062 <br>
                1st Year
            </p>
        </div>
        Name: UTKARSH GUPTA<br>
Adm. No: 2025B15410180


